body{
    font-size: 15px;
    
}
#html{
    display: flex;
    flex-direction: row;
}

#title2{
    margin-top: 0vw;
 
    color: red;
}
#what_is{
    color: blue;
}
#img{
    margin-top: 19px;
    width: 15%;
    height: 100%;
    background-color: white;
}
#p{
    width: 85%;
    height: 100%;
    background-color:aqua;
}
#title1{
   
    width: 100%;
    height: 46px;
    background-color: black;
}
#html_img{
    width: 15vw;
}