
.area_cad_cliente{
    background-color :rgb(247, 247, 247);
    background-position: center;
    margin-left: 16.5vw;
    width: 65vw;
    height: 70vw;
    
    
}
p input{
    font-family: Georgia, 'Times New Roman', Times, serif; /*tipo de letra*/
    font-size: 20px;

}
/* Cabecalho*/
h1{
    font-size: 48px;
    color: #190e7e;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
  }
/*--------------------------------------------------*/

/*Inputs*/
input:not([type="checkbox"]){
 
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #7b66f3;
  
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
 
}
input:not([type="checkbox"]):hover{
  outline: 0;
  
}

/*estilo do botão submit */
input[type="submit"]{
 width: 10%;
  cursor: pointer;  
  background: #3d9db3;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff;   
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;
  
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  transition: all 0.2s linear;
  
}
input[type="submit"]:hover{
  background: #3d11a3;
}

/*marcando os links para mudar de um formulário para outro */
.link{
 
  background: #e1eaeb;
  color: #7f7c7c;
  left: 0px;
  height: 20px;
  
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid #dbe5e8;

  -webkit-border-radius: 0 0  5px 5px;
  border-radius: 0 0  5px 5px;
}
.link a {
  font-weight: bold;
  background: #f7f8f1;
  padding: 6px;
  color: rgb(29, 162, 193);
  margin-left: 10px;
  border: 1px solid #cbd518;

  -webkit-border-radius: 4px;
  border-radius: 4px;  

  -webkit-transition: all 0.4s linear;
  transition: all 0.4s  linear;
}
.link a:hover {
  color: #1c19be;
  background: #f7f7f7;
  border: 1px solid #4ab3c6;
}

/* estilos para para ambos os formulários */
#cadastro, 
#login{

  top: 0px;
 
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189,0.8);
  
}

p.paragrafos{
 margin: 0vw;
 margin-left: 1vw;
 display: inline-flex;

}
p.paragrafos2{
  margin: 0vw;
  margin-left: 1vw;
  display: inline-flex;
 margin-left: 6.75vw;
 }
div.divs{

    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    margin-bottom: 2vw;
}
.cli_nome{
  width: 80%;
}
.cli_cel{
  width: 11.5%;
  

}
#cli_tel_fixo{
  width: 11.5%;
  margin-left: 2vw;

}
#cep{
  width: 7.5%;


}
#endereco{
  margin: 0vw;
  margin-left: 2vw;

}


#endereco{
  width: 60%;
  
  
}
p.paragrafos3{
  margin: 0vw;
  margin-left: 5vw;
  display: inline-flex;

 }
.paragrafosuf{
  margin: 0vw;
  margin-left: 12vw;
  display: inline-flex;
}
#uf{
  width: 3vw;
  margin-left: 2vw;  
}
p.paragrafos4{ 
  margin: 0vw;
  margin-left: 12vw;
  display: inline-flex;


}
#num-endereco{
  width: 4.5%;
  margin-left:2vw;
}
#complemento{
  margin-left: 2vw;
width: 60%;
}
.paragrafos5{
  margin: 0vw;
  margin-left: 3vw;
  display: inline-flex;
}
#dt_nasc{
width: 15%;
}
#cpf{
  margin-left: 2vw;
  width: 12%;
}
.paragrafos6{
  margin: 0vw;
  margin-left: 8vw;
  display: inline-flex;

}
#rg{
  width: 10%;
  height: 1.4vw;
}
#cnpj{
  margin-left: 2vw;
  width:14%;
  height: 1.4vw;
}
 /*estilo do botão submit */
#btn_submit{
  margin-left: 30vw;
 

  cursor: pointer;  
  background: #3d9db3;
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;  
  border: 1px solid #fff;   
  margin-bottom: 10px;  
  text-shadow: 0 1px 1px #333;
  
  -webkit-border-radius: 5px;
  border-radius: 5px;
  
  transition: all 0.2s linear;
}


